@import url(https://fonts.googleapis.com/css?family=Raleway);
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#page0 {
    position: relative;
    height: 100vh;
    background: yellow;
    padding: 0 !important;
    margin: 0 !important;
}

#page1 {
    position: relative;
    height: 100vh;
    background: green;
    padding: 0 !important;
    margin: 0 !important;
}

.centered-div {
    position: absolute;
    background: red;
    height: 150px;
    width: 500px;
    top: calc(50vh - 75px);
    left: calc(50vw - 250px);
    margin: 0;
    padding: 0;
}

.titre {
    border-bottom: 1px solid #fff;
    padding: 10px;
    background: #333;
    color: #fff;
    margin-top: 0;
}


/*
.circle-div{
  position: absolute;
  width: 200px;
  height: 200px;
  background: red;
  border-radius: 50%;
  top: calc(50vh - 100px);
  left: calc(50vw - 100px);
}

.circle-div span{
  color: #fff;
  width: 180px;
  height: 180px;
  padding: 20px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
}*/

.rogner {
    width: 920px;
    padding-top: 10%;
}

.image1,
.image2,
.image3 {
    width: 33%;
    height: 100px;
    display: table-cell;
}

.thisa {
    text-decoration: none;
    transition: all 0.4s ease-in-out 0s;
}

.thisa:hover {
    text-decoration: none;
}

.container-test {
    width: 100%;
}

.container-test .overlayer-title {
    text-align: center;
}

.content {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.content-overlay {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: red;
    opacity: 0;
    height: 100%;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-webkit: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content-details {
    width: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    left: -100%;
    bottom: 100%;
    text-align: center;
    color: #ffffff;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.image {
    width: 100%;
}

.content:hover .content-overlay {
    opacity: 0.5;
}

.content:hover .content-details {
    transform: translate(100%, 100%);
}

.container-test {
    margin-bottom: 5%;
}